.col {
    width: 30%;
}
.svg {
    margin: 0px auto;
}
body {
    background-image: url(img/bg.png);
    background-repeat: repeat;
    background-blend-mode: soft-light;
    width: 100%;
}


@media screen and (max-width: 450px) {
.col {
    width: 100%;
}
}